 /* styles for mobaile or small device */

 @media screen and (max-width:576px) {

    .-section{
        width: 80%;
    }
    .-container{
        width: 80%;
    }


    .header-section>h3,.features-cloumn2{
    padding-top: 20px;
    }



    h3,h5,h4, p,.features-cloumn2{
    text-align: center;
    }
    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 2rem;
    }



    nav {
        flex-direction: column;
    }


    .banner-image img {
        width: 80%;
        margin-top: 20px;
}


.features-container {
    flex-direction: column;
}

.features-img{
    height: 200px;
    width: 200px;
}



.more-features-container {
    flex-direction: column-reverse;


}
 .more-column2 img {
    width: 350px;
    text-align: center;
}



 }

 @media screen and (min-width:577px) and (max-width: 960px) {

    .banner-image img {
        width: 80%;
        margin-top: 20px;
}

.features-img{
    height: 200px;
    width: 200px;
}
.more-column2 img {
    width: 300px;
    text-align: center;
}

 }